<div class=container>
  <header class=page-header>
    <h1 class=page-title >New Employee</h1>
  </header>
  <section class=page-content>
    <%= render "form", employee: @employee %>
  </section>
</div>