<div class=container>
  <header class=page-header>
    <h1 class=page-title >New Employer</h1>
  </header>
  <section class=page-content>
    <%= render "form", employer: @employer %>
  </section>
</div>